@model IEnumerable<WebApplication.Models.ViewModels.PlanOfDeposit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => $"{model.BankDayPeriod}(in days)")
        </th>
        <th>
            @Html.DisplayNameFor(model => $"{model.Percent}(in %)")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Revocable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankDayPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => $"{item.Percent * 100:0.00}%")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Revocable)
        </td>
    </tr>
}

</table>
