@model IEnumerable<WebApplication.Models.ViewModels.Deposit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Go to deposit plans page", "Index", "PlanOfDeposit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanOfDeposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanOfDeposit.Name)
            </td>
            <td>
                @Html.ActionLink($"{item.Client.Surname} {item.Client.Name} {item.Client.FatherName}", "Details", "Client",new { id = item.Client.Id },new {})
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new {depositId = item.Id})
            </td>
        </tr>
    }

</table>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-4">
            @using (Html.BeginForm("CloseBankDay", "Bank", new { returnUrl = Url.Action("Index") }, FormMethod.Post))
            {
                <button type="submit" class="btn btn-default">Close bank day</button>
            }
        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("CloseBankMonth", "Bank", new { returnUrl = Url.Action("Index") }, FormMethod.Post))
            {
                <button type="submit" class="btn btn-default">Close bank month</button>
            }
        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("CloseBankYear", "Bank", new { returnUrl = Url.Action("Index") }, FormMethod.Post))
            {
                <button type="submit" class="btn btn-default">Close bank year</button>
            }
        </div>
    </div>
</div>

